<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.creditsapp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk  android:minSdkVersion="8"
               android:targetSdkVersion="17"/>


    <application android:label="@string/app_name"
                 android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                 android:icon="@drawable/icon_for_android">

        <activity android:name="MyActivity"
                  android:label="@string/app_name">


            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.NavigationActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.SpecialOfferActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.StartRegistrationProfileActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.FirstProfileClientActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.CongratulationActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.ThreeProfileActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.SecondProfileClientActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.WaitingActivity"/>
        <activity android:name=".activities.RegistrationUserActivity"/>
        <activity android:name=".activities.AuthorizationActivity"
                android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.WebRegistrationActivity"/>
        <activity android:name=".activities.SelectBankActivity"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".activities.YorChoiceServicesActivity"
                  android:theme="@style/Theme.AppCompat"/>


    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
